{% extends "user_base.html" %}

{% block page_header %}个人中心{% endblock %}

{% block contents %}
  <div class="col-md-6">
    <div class="panel panel-primary">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-photo fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ total_image_num }}</div>
            <div>总共上传图片数量</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="panel panel-green">
      <div class="panel-heading">
        <div class="row">
          <div class="col-xs-3">
            <i class="fa fa-photo fa-5x"></i>
          </div>
          <div class="col-xs-9 text-right">
            <div class="huge">{{ last_login_time }}</div>
            <div>上次登录时间</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <i class="fa fa-bar-chart-o fa-fw"></i> Area Chart Example
      </div>
      <!-- /.panel-heading -->
      <div class="panel-body">
        A echart js here
      </div>
    </div>
  </div>
{% endblock %}