{% extends "user_base.html" %}

{% block contents %}
<div class="col-md-12">
  <div class="panel panel-default">
    <div class="panel-heading">
      图片列表
    </div>
    <!-- /.panel-heading -->
    <div class="panel-body">
      <div class="table-responsive">
        <table class="table table-hover">
          <thead>
          <tr>
            <th>#</th>
            <th>上传时间</th>
            <th>缩略图</th>
            <th>操作</th>
          </tr>
          </thead>
          <tbody>
          {% for img in all_images %}
          <tr>
            <td>{{ img.image_id }}</td>
            <td>{{ img.upload_time }}</td>
            <td>{{ img.thumb_url }}</td>
            <td>operation</td>
          </tr>
          {% endfor %}
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
    <!-- /.panel-body -->
  </div>
</div>
{% endblock %}