{% extends "base.html" %}

{% block body %}
  <div class="container">
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="panel panel-default" style="margin-top: 25%">
          <div class="panel-heading">
            <h3 class="panel-title">PISS 邮件激活</h3>
          </div>
          <div class="panel-body">
            {{ message | safe }}
          </div>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>
{% endblock %}

{% block script %}
<script>
$(document).ready(function () {
    let panelClass = "{{ code }}";
    if (panelClass === "1004") {
        $(".panel").removeClass("panel-default").addClass("panel-danger");
    } else if (panelClass === "1001") {
        $(".panel").removeClass("panel-default").addClass("panel-success");
    }
});
</script>
{% endblock %}
