{% extends "base.html" %}
{% load static %}

{% block head %}
<link href="/static/css/fileinput.min.css" rel="stylesheet" >
{% endblock %}

{% block body %}
    
    <style>
    body {
        background: url("/static/images/{{ background_number }}.jpg") no-repeat fixed center center;
        background-size: 100%;
        height: 100%;
        width: 100%;
        overflow-x: hidden;
    }
    .top-bar {
        background-color: rgba(0,0,0, 0.6);
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        height: 50px;
        display: block;
    }
    .brand {
        color: #fff;
        font-weight: 900;
        display: inline-block;
        float: left;
        font-size: 2em;
        margin-left: 15px;
        margin-top: 5px;
    }
    .brand > a {
        text-decoration: none;
        color: white;
    }
    .welcome-btn, .welcome-btn:hover {
        z-index: 20000;
        float: right;
        margin: 5px 10px 5px 0;
        color: whitesmoke !important;
        text-decoration: none !important;
        display: inline-block;
        width: 100px;
    }
    .title {
        font-size: 4.6em;
        color: white;
        text-shadow: 10px 10px 20px #000;
    }
    .title section {
        margin: 0 auto;
        text-align: center;
        font-weight: 700;
    }
    .subtitle {
        margin-top: 20px;
        font-size: 2em;
        color: white;
        text-shadow: 10px 10px 20px #000;
    }
    .subtitle section {
        margin: 0 auto;
        text-align: center;
        color: whitesmoke;
    }
    .upload-box {
{#        display: table-cell;#}
        background-color: rgba(255,255,255,.8);
        padding: 20px;
    }

    </style>
    
<div class="main-body row">
    <div class="col-md-12">
        <div class="top-bar">
            <div class="brand"><a href="{% url 'index' %}">PISS</a></div>
            <div class="welcome">
                <a role="button" class="btn btn-primary welcome-btn" href="{% url 'login' %}">登录</a>
                <a role="button" class="btn btn-primary welcome-btn" href="{% url 'register' %}">注册</a>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
    <div class="col-md-10" style="margin-top: 50px">
        <div class="row title-box">
            <div class="col-md-12">
                <div class="title">
                    <section>P I S S</section>
                </div>
            </div>
            <div class="col-md-12">
                <div class="subtitle">
                    <section>私人图片存储服务</section>
                </div>
            </div>
        </div>
        <div class="row" style="margin-top: 40px">
            <div class="col-md-12">
                <div class="col-md-3"></div>
                <div class="col-md-6">
                    <div class="row upload-box">
                        <div class="col-md-12">
                            <input type="file" id="upload_file" multiple class="file-loading">
                            <div id="errorBlock" class="help-block"></div>
                        </div>
                        <div class="col-md-10 url-box form-group">
                            <input type="url" class="form-control js-image-url" placeholder="或粘贴图片地址到这里上传">
                        </div>
                        <div class="col-md-2">
                            <button type="button" style="width: 100%;" class="btn btn-success js-upload-by-url">上传</button>
                        </div>
                    </div>
                </div>
                <div class="col-md-3"></div>
            </div>
        </div>
    </div>
    <div class="col-md-1"></div>
</div>
  <div class="modal fade js-url-modal">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
          <h4 class="modal-title">上传成功</h4>
        </div>
        <div class="modal-body">
          <p class="js-modal-body"></p>
          <p>如果您已经登录，稍后可至个人中心查看图片链接</p>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
{% endblock %}

{% block script %}
    <script src="//cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="/static/js/fileinput.min.js"></script>
    <script src="/static/js/zh.js"></script>
    <script src="/static/js/common.js"></script>
<script>
$(document).ready(function () {

    let upload_file_url = '/api/upload/file';
    let upload_url_url = '/api/upload/url';

    $("#upload_file").fileinput({
        uploadUrl: upload_file_url,
        language: 'zh',
        maxFilePreviewSize: 10240,
        maxFileSize: 10240,
        maxFileCount: 1,
        dropZoneTitle: "拖动文件到这里",
        allowedFileTypes: ['image'],
        allowedFileExtensions: ["jpg", "jpeg", "png", "gif", "bmp"],
        enctype: 'multipart/form-data',
    }).on("fileuploaded", function (event, data, previewId, index) {
        // console.log(data.response);

        if (data.response.code == 1001) {
          $(".js-modal-body").html(data.response.url);
          $(".js-url-modal").modal();
        } else {
            makeNoty(data.response.message);
        }
    });


    $(".js-upload-by-url").on("click", function () {
        var imageUrl = $(".js-image-url").val();
        if (imageUrl == "") {
            noty({
                layout: "top",
                theme: "relax",
                type: "error",
                text: "请输入正确的URL",
                timeout: 5000,
                animation: {
                    open: {height: 'toggle'},
                    close: {height: 'toggle'},
                    easing: 'swing',
                    speed: 500
                }
            });
        } else {
            $.post(upload_url_url, {url: imageUrl}, function (data) {
                var notyType = "error";
                if (data.code == 1001) {
                    notyType = "success";
                }
                noty({
                    layout: "center",
                    theme: "relax",
                    type: notyType,
                    text: data.message,
                    timeout: 5000,
                    animation: {
                        open: {height: 'toggle'},
                        close: {height: 'toggle'},
                        easing: 'swing',
                        speed: 500
                    }
                });
            });
        }
    });

});
</script>
{% endblock %}